
:root {
  --clr-background-color: #BA713E;
  --clr-text-main: #280008;
  --clr-hover: #CB926C;
  --clr-h3: #390f12;
  --clr-h2: #6C3314;
  --clr-footer: #B35F27;
  --clr-nav: #B35F27;
}



* {
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: var(--clr-background-color);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  margin-top: 100px;


}
nav {
  display: flex;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--clr-nav);
  z-index: 10;
}
nav ul {
  list-style: none;
  padding:0;
  margin: 0;
  overflow: hidden;
  font-size: 20px;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--clr-nav);
  font-family: "Special Elite", serif;


}

nav ul li {
  list-style: none;
  padding: 20px;
  text-align: center;


}

nav ul li a {
  text-decoration: none;
  color: var(--clr-text-main);
  font-size: 20px;

}

nav ul li:hover {
  background-color: var(--clr-hover);
  color: var(--clr-text-main);
}


nav a:hover {
  color: var(--clr-text-main);
}

.logo {
  text-decoration: none;
  font-family: "Special Elite", cursive;
  text-decoration: none;
  color: var(--clr-text-main);
  font-size: 35px;
  margin-left: 50px;
  align-self: center;
}

.logo a:hover {
  color: var(--clr-text-main);
}

h2 {
font-family: "Beth Ellen", sans-serif;
color: var(--clr-h2);
text-align: center;
float: none;
text-decoration: none;
font-size: 25px;
line-height: 2;
}



section {
  padding: 0px 50px;
}

p {
  text-align: left;
  display: flex;
  justify-content: center;
  left: 50%;
  font-family: "Special Elite", monospace;
  color: var(--clr-text-main);
  font-size: 18px;

}

iframe {
  width: 100%

}

h3{
  font-family: "Beth Ellen", cursive;
  font-size: 30px;
  text-align: center;
  border: none;
  margin-top: 10px;
  color: var(--clr-h3);

}

.container {
  padding-bottom: 30px;
  padding-top: 0;


}

.img-container {

  position: relative;

  padding-bottom: 50px;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;

}

.img-container h2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20%);




}

.img-container h4 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 300%);



}

.row {
  display: flex;
  align-items: center;
padding: 10px;
  

}

.rowreverse {
  flex-direction: row-reverse;
}

col {
  padding: 10px;
}

.row-center {
display: flex;
justify-content: center;

}

.banner-img {
  display: none;
}

.banner-img.active {
  display: block;
  animation-name: fade-in;
  animation-duration: 0.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.banner-text {
  display: none;


}

.banner-text.active {
  display: block;
}

footer {
  background-color: var(--clr-footer);
  padding: 0px;
  display: flex;
  justify-content: left;
  align-items: left;
  height: 50px;
  
}

span {
  font-family: "Special Elite", serif;
  color: var(--clr-h3);
  font-size: 15px;
}


footer span {
  position: absolute;
  transform: translate(40%, 60%);
}

h5 {
  padding: 0px;
  margin: 0px;
  font-family: "Special Elite", serif;
  color: var(--clr-h3);
  font-size: 15px;
}

footer h5 {
  position: absolute;
  transform: translate(1200%, 90%);
}

.img-label {
  width: 100%;
  text-align: center;
  font-family: "Devonshire";
  color: var(--clr-text-main);
  font-size: 23px;

}

.normal {
  margin-left: 25px;
  margin-top: 10px;
}

.border0 {
  margin: 15px;
}
.border1 {
  margin: 20px;
}

.border2 {
  margin: 25px;
}

.border3 {
  margin: 30px
}

.border4 {
  margin:35px;
}

.padding-bottom {
  padding-bottom: 10;
}